<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrbwmxx.hrbu.tstz.dao.TstzMapper">
    <select id="queryBj" resultType="com.hrbwmxx.hrbu.tstz.vo.XsBj">
		<include refid="queryYHListPage_field" />
	</select>
	<select id="queryCountBj" resultType="java.lang.Integer" >
		<include refid="PageMapper.countHead"/>
		from t_bjdmb
	</select>
	<sql id="queryYHListPage_field">
	   select * from t_bjdmb
	</sql>
	<select id="queryTsBjRy" resultType="com.hrbwmxx.hrbu.tstz.vo.TsTz" >
		select * from T_TSTZ where  state &lt; 2
		  <if test="obj.wid !=null and obj.wid !=''">
		  	and wid = #{obj.wid} 
		  </if>
	</select>
	<!-- 改动换表 -->
	<select id="queryXsxx" resultType="com.hrbwmxx.hrbu.tstz.vo.XsXx" >
		select * from t_bzks where
		  <if test="obj.bjdm !=null and obj.bjdm !=''">
		  	bh = #{obj.bjdm} 
		  </if>
	</select>
	<!-- 改动换表 -->
	<select id="queryXszs" resultType="com.hrbwmxx.hrbu.tstz.vo.XsXx" >
		select count(*) as bjzs from t_bzks where bh = #{obj.bjdm} 
	</select>
	
	<update id="updateTstzzt">
	    update t_tstz set sfts='1' where wid=#{obj.wid}
	
	</update>
	
	<insert id="saveXslsb">
	    insert into t_xslsb (tsid,xh,xm) values (#{obj.tsid},#{obj.xh},#{obj.xm}) 
	</insert>
	
	<update id="updateYdrs">
	  update t_tstz set ydrs=#{obj.ydrs} where wid=#{obj.wid}
	</update>
	
	<update id="updateXslsbzt">
	  update t_xslsb set zt='1' , ydsj=#{obj.ydsj} where xh=#{obj.xh}  and tsid=#{obj.tsid}
	</update>
	<select id="queryXslsbzt" resultType="com.hrbwmxx.hrbu.tstz.vo.Xslsb">
	  select * from t_xslsb where xh=#{obj.xh} and tsid=#{obj.tsid}
	</select>	
	<select id="queryYdrs" resultType="com.hrbwmxx.hrbu.tstz.vo.Xslsb" >
		select count(*) as ydrs from t_xslsb where tsid = #{obj.tsid} and zt='1' group by tsid
	</select>
	
	<select id="queryYdZs" resultType="java.lang.Integer" >
		select count(*)  from t_xslsb where tsid = #{obj.tsid} and zt='1' 
	</select>
	
	<select id="queryYdxs" resultType="com.hrbwmxx.hrbu.tstz.vo.Xslsb" >
		select * from t_xslsb where tsid = #{obj.tsid} and zt='1'
	</select>
	
	<select id="queryWdZs" resultType="java.lang.Integer" >
		select count(*)  from t_xslsb where tsid = #{obj.tsid} and zt='0'
	</select>
	
	<select id="queryWdxs" resultType="com.hrbwmxx.hrbu.tstz.vo.Xslsb" >
		select * from t_xslsb where tsid = #{obj.tsid} and zt='0'
	</select>
	
	<select id="queryZgxs" resultType="java.lang.Integer" >
		select count(*)  from t_bzks where bh=#{obj.bjdm}
	</select>
	
	<update id="updateTszt">
	update T_TSTZ set state='2' where wid=#{obj.wid} and userid=#{obj.userid}
	</update>
	
	<select id="queryCs" resultType="java.util.Map" >
		select * from t_xslsb where tsid = #{obj.tsid} and zt='0'
	</select>
	
</mapper>